[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = git@github.com:amitshky/dwm.git
[submodule ".local/src/dwmblocks-async"]
	path = .local/src/dwmblocks-async
	url = git@github.com:amitshky/dwm.git
[submodule ".local/src/st"]
	path = .local/src/st
	url = git@github.com:amitshky/dwm.git
[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = git@github.com:amitshky/dwm.git
