*.dat
.config/btop/btop.log
.config/copyq/copyq-monitor.ini
.config/copyq/copyq-monitor.ini.*
.config/copyq/copyq.lock
.config/copyq/copyq.pub
.config/copyq/copyq_geometry.ini
.config/copyq/copyq_geometry.ini.*
.config/copyq/copyq_geometry.ini.lock
.config/copyq/copyq_geometry.ini.lock.rmlock
.config/copyq/copyq_tabs.ini
.config/qBittorrent/qBittorrent-data.conf
.config/qBittorrent/qBittorrent.conf
.config/qimgv/savedState.conf
