export TERMINAL="st"
export EDITOR="nvim"
export VISUAL="nvim"
export BROWSER="firefox"

export PATH="$PATH:$HOME/.cargo/bin/:/sbin/:$HOME/.local/bin:$HOME/.local/scripts"

export QT_QPA_PLATFORMTHEME=qt6ct
export QT_STYLESHEET_PATH="$HOME/.config/qt/dolpin-darkmode-fix.qss"
